.sia-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
  width: 100%;
  height: 100%;
  background-color: #ffff;
}

.tag-scroll::-webkit-scrollbar {
  height: 4px;
}

.tag-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.tag-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
